div.scroller { 
	/* modify width and height of scrolling section if necessary	*/		
	width: 100%; 
	height: 460px;
	overflow: hidden;
	border:2px solid #cccccc;
	}
	div.scroller div.section {
		/* modify width and height of each section as needed (should match the size of the scroller window)	*/		
		width:100%;
		height:460px;
		overflow:auto;
		float:left;
		padding:0;		
		}
	div.scroller div.content {
		width: 100%;
		}


 .aaa{
float:left;
background:url(media/glowtab-left.gif) no-repeat left top;
margin:0;
margin-right: 5px; /*spacing between each tab*/
padding:0 0 0 9px;
text-decoration:none;
}

.aaaspan{
float:left;
display:block;
background:url(media/glowtab.gif) no-repeat right top;
padding: 5px 12px 3px 3px;
font-weight:bold;
cursor:hand;
color:#3B3B3B;
}